:root {
    --primary-font-color: oklch(from black l c h);
    --secondary-font-color: oklch(from white l c h);
    --heading-font: Times New Roman, serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font, arial, sans-serif);
    color: var(--font-color, black);
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--body-font, arial, sans-serif);
    color: var(--font-color, black);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    color: var(--primary-font-color, black)
}

nav {
    margin: 0;
    padding: 15px;
    background-color: lightgray;
}

nav img {
    max-width: 80px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
}

nav a {
    color: var(--main-color, black);
    display: inline-block;
    padding: 5px;
    margin: var(--main-margin, 15px);
    text-decoration: none;
    font-size: 18px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 70px;
    text-align: center;
    color: var(--secondary-font-color, white);
    font-size: 2.5rem;
}

.hero article {
    position: absolute;
    background-color: beige;
    margin: 0;
    padding: 0px;
    bottom: 25px;
    right: 0;
    border-radius: 15px;
}

.hero article img {
    max-width: 150px;
    height: auto;
    float: right;
    clear: right;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 25px;
}

section p {
    border-bottom: 1px solid black;
}

footer img {
    max-width: 60px;
    height: auto;
}