body {
    background-color: white;
}

nav {
    background-color: lightgreen;
    padding: 10px;
}

nav a {
    color: black;
    padding: 20px;
    display: inline-block;
}

h1 {
    color: black;
}

main img {
    width: 300px;
    height: auto;
    padding: 0;
    box-shadow: 0 0 10px gray;
}

p {
    padding: 0;
}

aside {
    width: 100%;
    margin: auto;
    border: none;
    padding: none;
    background-color: none;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin: 10px auto;
    text-align: center;
    background-color: lightgray;
    padding: 1px;
    font-size: 16px;
    max-width: 100%;
}