body {
    background-color: antiquewhite;
}

nav {
    background-color: lightgreen;
    padding: 10px;
}

nav a {
    color: black;
    padding: 20px;
    display: block;
}

h1 {
    color: black;
}

main {
    max-width: 100%;
}

main img {
    width: 300px;
    height: auto;
    padding: 0;
    border: 1px solid white;
    box-shadow: 0 0 10px gray;
}

p {
    padding: 0;
}

aside {
    width: 100%;
    margin: auto;
    border: none;
    padding: 5px;
    background-color: antiquewhite;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
    padding: 1px;
    font-size: 16px;
    max-width: 100%;
}